<h1> <%= @total%> members total </h1>

<ol><% @members.each do |member| %>
    <li><b> <%= member.name %> </b><br>
    <i> Allies: </i> <%= member.allies%> <br>
    <i> Enemies: </i> <%= member.enemies%> <br>
    <i> Affiliation: </i> <%= member.affiliation%> <br>
    <% if !member.photo_url.nil? %>
        <i> Photo: </i> <br>
        <%= image_tag("#{member.photo_url}")%>
    <% end %>
    <br>
    </li>
<% end %></ol>
